body {
    background-color: LightCyan;
    font-size: 11pt;
}

table {
    border: 3px solid grey;
    width: 90%;
    border-spacing: 0;
}

tr {
    border: 2px solid black;
}

td {
    border: 2px solid black;
    text-align: center;
}

tr:nth-child(2n){
    background-color: LightGrey;
    height: 30px;
}

tr:nth-child(2n+1){
    background-color: Honeydew;
    height: 20px;
}

a:hover{
    color: ForestGreen;
    text-decoration: None;
    transform: scale(1.10);
    transition: transform .6s ease;
}

