.menu {
    background: LightSeaGreen;
    height: auto;
    align: center;
}

.btn-success {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 45%px;
    height: 60px;
 }
width: 100px;
            height: 25px;
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffffff !important;
}
aside {
    float: left;
    background: PaleTurquoise;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    border-right: 5px solid #4d4d4d;

}
aside h3{
    margin-top: 50px;
}

aside ul li {
    color: DarkSlateGray;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}
aside ul li:hover, aside ul a:hover {
    text-decoration: none;
    color: Maroon;
    transform: scale(1.5);
}
main {
    background-color: LightCyan;
}
table {
    border: 3px solid grey;
    width: 80%;
    border-spacing: 0;
}
tr {
    border: 2px solid black;
}

td {
    border: 2px solid black;
    text-align: center;
}

tr:nth-child(2n){
    background-color: LightGrey;
    height: 30px;
}

tr:nth-child(2n+1){
    background-color: Honeydew;
    height: 20px;
}

a:hover{
    color: ForestGreen;
    text-decoration: None;
    transform: scale(1.10);
    transition: transform .6s ease;
}

