.menu {
    background: LightSeaGreen;
    height: auto;
    align: center;
}

.btn-success {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 45%px;
    height: 60px;
 }

aside {
    float: left;
    background: PaleTurquoise;
    width: 15%;
    padding: 2.5%;
    height: 100vh;
    border-right: 5px solid #4d4d4d;

}
aside h3{
    margin-top: 50px;
}

aside ul li {
    color: DarkSlateGray;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}
aside ul li:hover, aside ul a:hover {
    text-decoration: none;
    color: Maroon;
    transform: scale(1.5);
}
main {
    background-color: LightCyan;
}

table {

    width: 80%;
    border-spacing: 0;
    text-align: center;
}
tr:hover{
    background-color: burlywood;
    color: darkorchid;
    cursor: pointer
}

a:hover{
    color: ForestGreen;
    text-decoration: None;
    transform: scale(1.10);
    transition: transform .6s ease;
}

span {
    font-weight: bold;
    font-size: 15px;
}
